<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<div class="container">
    <body>
        <%- include('../components/header') %>
        <main>
            <h2> <%= title %> </h2>

            <form class="item-form" action="" method="post" enctype="multipart/form-data">
                <label>
                    Name:
                    <input type="text" name="folderName" value="<%= info ? info.name : "" %>" required>
                </label>
                <label>
                    Description
                    <textarea name="folderDes" id="" cols="30" rows="10" required><%= info ? info.description : "" %></textarea>
                </label>
                <label>
                <div>
                    <label for="">
                        Upload Photo
                        <input type="file" name="image" id="">
                    </label>
                </div>

                <button type="submit" id="submit">Submit</button>

            </form>
            
        </main>
    </body>
</div>
</html>